@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box; 
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF5E4;
}

main {
    display: flex;
    gap: 20px;
}

.info {
    flex: 1;
}

.info-tabla-cabecera{
    background-color: #1A7078;
}

.info-tabla-cabecera tr th{
    padding: 15px;
}

.info-tabla{
    border-collapse: collapse;
}

.th1, .th2{
    width: 250px;
}

.th3, .th4, .th5{
    width: 82px;
}

.th6{
    width: 25px;
}

.info-tabla-cuerpo{
    background-color: #EEEEEE;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.info-tabla-cuerpo tr td {
    padding: 5px;
}

.pago {
    background-color: #EEEEEE;
    width: 250px;
    padding: 0px 25px;
}

.detalle{
    display: flex;
}

.detalle p{
    margin-left: 15px;
}

.total_pago{
    display: flex;
    font-weight: 300;
    justify-content: space-between;
}


.total{
    width: 499px;
}

.total form{
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-left: 525px; 
}

.numeros{
    display: flex;
    margin: 35px 0px;
}

.numeros h4{
    margin-left: 65px;
}

.numeros p{
    margin-left: 15px;
    background-color: #EEEEEE;
    padding: 0px 25px;
}

.total form section{
    margin-left: 100px;
}

.boton{
    background-color: #1A7078;
    color: #EEEEEE;
    width: 175px;
    border: none;
    height: 25px;
    font-weight: 700;
    font-size: 14px;
}

.cantidad{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 70px;
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
}

.button2{
    flex: 1;
    border: 1px solid transparent;
    border-left: 1px solid black;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #CB883E;
}

.button1{
    flex: 1;
    border: 1px solid transparent;
    border-right: 1px solid black;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #CB883E;
}

.cantidad p{
    flex: 2;
    background-color: white;
}

.boton-eliminar{
    background-color: red;
    height: 20px;
    width: 20px;
    border: 1px solid transparent;
    border-radius: 20px;
}

.pago form {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido_pago div{
    margin-bottom: 25px;
}